{% extends "dashboard_template.html" %}

{% block title %}Companies{% endblock %}

{% block dashboard_content %}
    <div class="company-table-container">

        <table class="company-table">
            <thead class="company-table-header">
                <tr>
                    <th>Company Name</th>
                    <th>Space Score</th>
                    <th>Date Added</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                {% for company in companies %}
                <tr>
                    <td><a href="{{ url_for('company', company_name=company['english_translation']) }}" class="company-table-link">{{ company['chinese_name'] }} ({{ company['english_translation'] }})</a></td>
                    <td>{{ company['space_score'] }}</td>
                    <td>{{ company['current_date'] }}</td>
                    <td>{{ company['date_last_edited'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}