{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<div class="dashboardContainer">

    <div class="sidebar">
        <div class="sidebarUpperContainer">
            <div class="sidebarTitle"><strong>SPACE</strong></div>
        </div>

        <div class="sidebarLowerContainer">
            <div class="sidebarSectionTitle">Visualization</div>
            <a href="{{ url_for('dashboard') }}" class="sidebarLink">Dashboard</a>
            <a href="{{ url_for('map') }}" class="sidebarLink">Interactive Map</a>
            <a href="" class="sidebarLink">Link Analysis</a>
            <a href="" class="sidebarLink">Comparative Analysis</a>

            <div class="sidebarSectionTitle">SPACE Score</div>
            <a href="{{ url_for('companies') }}" class="sidebarLink">Company Database</a>
            <a href="{{ url_for('add_company') }}" class="sidebarLink">Add Company</a>
            <a href="{{ url_for('select_company') }}" class="sidebarLink">Generate Score</a>

            <!-- THIS IS TBD MAKE SURE TO ACTUALLY DO THIS LOL -->

            <!-- <div class="sidebarSectionTitle">Satellite Visualization</div>
            <a href="" class="sidebarLink">Orbitting Technology</a>
            <a href="" class="sidebarLink">Satellite Database</a>
            <a href="" class="sidebarLink">Add Satellite</a> -->

            <div class="sidebarSectionTitle">Resources</div>
            <a href="https://github.com/Cobo04/FA25-IUB-Diplomacy-Lab" class="sidebarLink">Documentation</a>
            <a href="{{ url_for('documents') }}" class="sidebarLink">Research Reports</a>

            <div class="sidebarSectionTitle">Miscellanious</div>
            <a href="" class="sidebarLink">Settings</a>
            <a href="{{ url_for('admin') }}" class="sidebarLink">Administrator Panel</a>
            <a href="{{ url_for('server_stats') }}" class="sidebarLink">cohen's nerd stats</a>
            <a href="{{ url_for('render_index') }}" class="sidebarLink">Logout</a>
        </div>
    </div>

    <div class="mainContent">

        <div class="mainContentUpperContainer">

            <div class="mainContentTitle">Dashboard</div>

            <div class="mainContentSearchContainer">
                <input type="text" class="mainContentSearchBar" placeholder="Search...">
                <!-- <button class="mainContentSearchButton"><i class="bi bi-send"></i></button> -->
            </div>

            <div class="mainContentButtonContainer">
                <button class="mainContentButton"><i class="bi bi-bell"></i></button>
                <button class="mainContentButton"><i class="bi bi-grid-3x3-gap"></i></button>
                <button class="mainContentButton"><i class="bi bi-info-circle"></i></button>
            </div>

        </div>

        {%block dashboard_content %}{% endblock %}
        
    </div>

</div>

{% endblock %}