{% extends "dashboard_template.html" %}

{% block title %}Dashboard{% endblock %}

{% block dashboard_content %}

<div class="dashboard-grid">
    <div class="main-grid">
        <div class="welcome-box">
            <h1 class="welcome-text">Welcome to the SPACE Dashboard!</h1>
            <!-- <p class="welcome-subtext">Here you can find an overview of various research statistics and insights.<br>Select a visualization technique from the sidebar to get started.</p> -->
            <p class="welcome-subtext"><strong>Companies analyzed by person:</strong><br>
                Cameron: {{ blame['Cameron'] }}; Cohen: {{ blame['Cohen'] }}; Eva: {{ blame['Eva'] }}; Reagan: {{ blame['Reagan'] }}; Leah: {{ blame['Leah'] }}<br><br>
                <span class="welcome-warning">LOWEST CONTRIBUTOR 😠: {{ lowest_contributor }}</span><br>
                <span class="blame-awesome">HIGHEST CONTRIBUTOR 😎🗿: {{ highest_contributor }}</span>
            </p>
            <!-- <p class="welcome-warning">V1.2 of this software is suitable for production use, but requires further database developments to ensure full functionality.</p> -->
        </div>
        <div class="stats-row">
            <div class="stat-box">
                <h1 class="side-box-title">Connections Discovered</h1>
                <h2 class="stat-number">0</h2>
            </div>
            <div class="stat-box">
                <h1 class="side-box-title">Companies Analyzed</h1>
                <h2 class="stat-number">{{ total_companies }}</h2>
                 <!-- <h2 class="stat-number">0</h2> -->
            </div>
            <div class="stat-box">
                <h1 class="side-box-title">SPACE Scores Generated</h1>
                <h2 class="stat-number">{{ total_space_scores }}</h2>
            </div>
        </div>
    </div>

    <div class="side-box">
        <h1 class="side-box-title">Server Statistics</h1>
        <ul class="stats-list">
            <li class="stats-item">Server Status: INACTIVE</li>
            <li class="stats-item">Database Connection: LOST</li>
            <li class="stats-item">Map Connection: LOST</li>
            <li class="stats-item">Maltego Connection: LOST</li>
            <li class="stats-item">Total API Calls: N/A</li>
            <li class="stats-item">Server Time: N/A</li>
            <li class="stats-item">Client: N/A</li>
            <li class="stats-item">Uptime: N/A</li>
            <li class="stats-item">Disk Space: N/A</li>
        </ul>
        <div class="buttonGroup">
            <button class="refresh-button" onclick="location.reload();">Refresh Statistics</button>
            <a class="admin-link" href="{{ url_for('admin') }}">Administrator Panel</a>
        </div>
    </div>
</div>
{% endblock %}