{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="full-screen preloader">

        <div class="landingContainer">

            <div class="landingOuterContainer">

                <div class="upperContainerContainer">

                    <hr class="landingUpperLine">

                    <button class="landingButton" onclick="location.href='{{ url_for('documents') }}'">PDF <i class="bi bi-download"></i></button>
    
                    <button  class="landingButton" onclick="location.href='{{ url_for('dashboard') }}'">View <i class="bi bi-arrow-right"></i></button>

                </div>

                <p class="IUB-Splash">State Department Diplomacy Lab Project 383</p>

            </div>

            <div class="landingMiddleContainer">

                <h1 class="landingHeader"><strong>Chinese Space Technology:</strong></h1>
                <h2 class="landingHeaderSmall"><strong>Landscape Analysis, Foreign Ties, and Risks to U.S. Interests</strong></h2>
                
            </div>

            <div class="landingLowerContainer">

                <div class="landingPersonDescriptionNames marginRight">
                    <p class="smaller">CREATED BY</p>
                    <p>Eva Collins, Cohen Schulz, Cameron Coy, Leah English, and Reagan Rosner</p>
                </div>

                <div class="landingPersonDescriptionIU marginRight">
                    <p class="smaller">ON BEHALF OF</p>
                    <p>Indiana University Bloomington</p>
                </div>
                
            </div>
            
        </div>

    </div>

{% endblock %}