{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="full-screen">

        <div class="landingContainer">

            <div class="landingOuterContainer">

                <div class="upperContainerContainer">

                    <hr class="landingUpperLine">

                    <button class="landingButton">PDF <i class="bi bi-download"></i></button>
    
                    <button class="landingButton">View <i class="bi bi-arrow-right"></i></button>

                </div>

                <p class="IUB-Splash">State Department Diplomacy Lab Project 383</p>

            </div>

            <div class="landingMiddleContainer">

                <h1 class="landingHeader"><strong>Chinese Space Industrial Complex<br> Landscape Analysis</strong></h1>
                
            </div>

            <div class="landingLowerContainer">

                <div class="landingPersonDescriptionNames marginRight">
                    <p class="smaller">CREATED BY</p>
                    <p>Eva Collins, Cohen Schulz, Cameron Coy, Leah English, and Reagan Rosner</p>
                </div>

                <div class="landingPersonDescriptionIU marginRight">
                    <p class="smaller">ON BEHALF OF</p>
                    <p>Indiana University Bloomington</p>
                </div>
                
            </div>
            
        </div>

    </div>

{% endblock %}