{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

    <div class="full-screen preloader">

        <div class="landingContainer">

            <div class="landingOuterContainer">

                <div class="upperContainerContainer">

                    <hr class="landingUpperLine">

                    <button class="landingButton">PDF <i class="bi bi-download"></i></button>
    
                    <button  class="landingButton" onclick="location.href='{{ url_for('render_index') }}';">Home <i class="bi bi-arrow-left"></i></button>

                </div>

                <p class="IUB-Splash">State Department Diplomacy Lab Project 383</p>

            </div>

            <div class="homeInnerContainer">

                <form class="passwordForm" action="{{ url_for('login') }}" method="post">
                    <input class="password_input" type="password" name="password" id="password" placeholder="Enter Password">
                    <button type="submit" value="Login"><i class="bi bi-send"></i></button>
                </form>
                
            </div>

            <div class="landingLowerContainer">

                <div class="landingPersonDescriptionNames marginRight">
                    <p class="smaller">CREATED BY</p>
                    <p>Eva Collins, Cohen Schulz, Cameron Coy, Leah English, and Reagan Rosner</p>
                </div>

                <div class="landingPersonDescriptionIU marginRight">
                    <p class="smaller">ON BEHALF OF</p>
                    <p>Indiana University Bloomington</p>
                </div>
                
            </div>
            
        </div>

    </div>

{% endblock %}